.md-typeset {
    font-size: 20px;
    line-height: 1.7;

}

.md-typeset h2 {
    position: relative;
    padding-bottom: 0.2em;
}

.md-typeset h1::after, .md-typeset h2::after, .md-typeset h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5px;
    background-color: #6d6e81;
    opacity: 0.2;
}


.md-typeset code {
    background-color: #f0f0f0;
    color: #d32f2f;
    padding: 2px 4px;
    border-radius: 3px;
}

.md-typeset pre > code {
    background-color: #f0f0f0;
    padding: 1em;
    border-radius: 5px;
}
